@model LasttaskMVC.Models.Order_Detail

@{
    ViewBag.Title = "welcome";
}

<h2 class="container text-center" style="background-color:aquamarine; margin-top:200px">welcome @TempData["name"] ❤🤝</h2>

